https://drive.google.com/file/d/1hzDsAL3XlnqvWtDV0rhR-ggbPeZjHcnf/view?usp=share_link
1. Загрузіть файл фігми та зробіть копію для себе і працюйте з цієї копії.
2. Верстка сторінки за макетом, використовуючи html, css, js (jQuery), bootstrap.
3. Для слайдера використовуйте slick.js або swiper.js.
4. Дотримуйтесь семантики в коді.
5. Header має бути фіксованим
6. При загрузці сторінки ці елементи мають появитись анімовано(на свій смак) до такого вигляду як є на макеті https://prnt.sc/7Flm55v9IXKJ
7. Клік на кнопку показуєм поп-ап https://prnt.sc/-5_vObHhmAUV
8. Якщо поля порожні, тобто нічого не ввели і натиснули на кнопку "Contact sales", тоді виводимо повідомлення error під полем і для бордера даєм червоний колір https://prnt.sc/zSC_uBLNHH4s , коли поля заповнили error забираємо
9. Селект з іконкою і кодом країни робимо самі або підключаємо бібліотеку з готовим рішенням, в опції виведіть ще 2 країни https://prnt.sc/f-oivMfxBLcV
10. Використовуйте по мінімум коду та підключення сторонніх бібліотек

По закінченню задачі, код залийте на https://github.com/, і створіть гіт сторінку, інструкція https://pages.github.com/

Нам відправте посилання на репозиторій і посилання на сторінку, приклад:
code: https://github.com/my-acount/test-plerdy
demo: https://my-acount.github.io/test-plerdy/