.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  column-gap: 0;
  height: auto;
  background-color: #E2F2FF;
  border-radius: 10px;

  @media (min-width: 990px) {
    padding: 0 0 20px 0;
    flex-direction: row;
    align-items: start;
  }
}

.banner__container {
  max-width: 708px;

  @media (min-width: 990px) {
    padding: 81px 0 0 51px;
  }
}

.banner__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #001e41;
}

@media (max-width: 990px) {
  .banner__title {
    font-weight: 600;
    font-size: 30.5px;
    line-height: 120%;
    letter-spacing: 0.01em;
  }
}

.banner__text {
  color: #001E41;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 14.06px;

  @media (min-width: 990px) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
  }
}

.banner__text__main {
  margin-top: 18px;
}

@media (max-width: 990px) {
  .banner__text__main {
    font-weight: 400;
    font-size: 11.2px;
    color: #001e41;
  }
}

.banner__text--light {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #909090;
  margin-top: 8px;
}

@media (max-width: 990px) {
  .banner__text--light {
    font-weight: 400;
    font-size: 11.2px;
    line-height: 130%;
  }
}

.banner__button {
  margin-top: 18px;
  width: 183px;
  min-width: 173px;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;

  @media (min-width: 990px) {
    margin-bottom: 59px;
  }
}

.banner__logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20.9px;
  row-gap: 10.05px;
}

@media (max-width: 990px) {
  .banner__logo-container img {
    width: 86px;
    height: 14px;
    margin-bottom: 20px;
  }
}

.banner__images-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 106px;
}

@media (max-width: 990px) {
  .banner__images-container {
    margin-left: 0;
  }
}

.banner__img {
  align-items: center;
  margin-top: 53px;
  margin-bottom: 35px;
  margin-left: 20%;
  margin-right: 64px;
  max-width: 100%;
  height: auto;
  display: block;
  z-index: 1;

}

@media (max-width: 990px) {
  .banner__img {
    width: 70%;
    margin: 0;
  }
}

.color-diagram {
  position: absolute;
  top: 7px;
  left: -40px;
  z-index: 2;
  max-width: 100%;
}

@media (max-width: 990px) {
  .color-diagram {
    top: -20px;
    left: 10px;
    width: 45%;
    margin: 0;
  }
}

.blue-diagram {
  position: absolute;
  top: 80px;
  right: -42px;
  z-index: 2;
  max-width: 100%;
}

@media (max-width: 990px) {
  .blue-diagram {
    top: 30px;
    right: 10px;
    width: 40%;
    margin: 0;
  }
}

.green-diagram {
  position: absolute;
  top: 250px;
  left: -90px;
  z-index: 2;
  max-width: 100%;
}

@media (max-width: 990px) {
  .green-diagram {
    top: 170px;
    left: 10px;
    width: 40%;
    margin: 0;
  }
}


.banner__enterpries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: 990px) {
    align-items: start;
    margin-bottom: 0;
    text-align: start;
  }
}

.banner__logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}