button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: 0 solid transparent;
  border-radius: 8px;
  padding: 8px 24px;
  background-color: #5D78FF;
  transition: background-color 0.3s ease;

  @media (min-width: 990px) {
    font-size: 16px;
  }
}

button:hover {
  background-color: #546de7;
}