.form {
  margin: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media (min-width: 990px) {
    gap: 8px;
    margin: 24px 32px;

  }
}

.form__input-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media (max-width: 990px) {
  .form__input-container {
    margin-left: -3%;
  }
}

.form__label {
  color: #909090;
  font-size: 12px;
  font-weight: 500;
  line-height: 11.7px;
  width: 316px;

  @media (min-width: 990px) {
    font-size: 12px;
    line-height: 15.6px;
  }
}

@media (max-width: 990px) {
  .form__label {
    font-size: 9px;
  }
}

.form__input {
  height: 28px;
  border-radius: 8px;
  border: solid 0.75px #D5D5D6;
  padding: 6px 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.75px;
  width: 316px;
  height: 37px;
}

@media (max-width: 990px) {
  .form__input {
    border-radius: 6px;
    padding: 6px 9px;
    width: 210px;
    height: 28px;
    font-size: 10px;
  }
}

.form__input::placeholder {
  color: #bdbdbd;
}

.iti__selected-flag {
  font-size: 10.5px;
  background-color: transparent !important;
  padding-left: 8px;

  @media (min-width: 990px) {
    font-size: 14px;
    padding-left: 10px;

  }
}

.form__button-container {
  display: flex;
  gap: 7.5px;
  width: 100%;
  padding: 7.5px 0;
  margin-top: 18px;
}

@media (max-width: 990px) {
  .form__button-container {
    margin-top: 10px;
    margin-left: -3%;
    width: 210px;
    display: flex;
    justify-content: space-between;
  }
}

.form__button {
  font-family: "Roboto", sans-serif;
  border-radius: 7px;
  padding: 12px 10px;
  width: 153px;
  height: 42px;
  background: #5d78ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.form__button:hover {
  background: #aed1ff;
}

@media (max-width: 990px) {
  .form__button {
    border-radius: 5px;
    padding: 9px 10px;
    width: 114px;
    height: 32px;
    font-size: 11px;
    line-height: 112%;
    white-space: nowrap;
    flex: 1;
  }
}

.form__input--error {
  border: solid 1px red;
}

.form__error-message {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  display: none;
}

@media (max-width: 990px) {
  .form__error-message {
    margin-top: -2px;
    font-size: 9px;
  }
}

.form__privacy-policy {
  align-items: center;
  margin: 0 24px;
  display: flex;
  flex-direction: row;
  gap: 6px;

  @media (min-width: 990px) {
    gap: 8px;
    margin: 0 32px;
  }
}

.form__privacy-policy-text {
  font-weight: 400;
  font-size: 13px;
  color: #909090;
}

@media (max-width: 990px) {
  .form__privacy-policy-text {
    font-weight: 400;
    font-size: 8px;
    color: #909090;
    margin-top: -10px;
  }
}

.form__privacy-policy-text span {
  color: #5D78FF;
}

.form__privacy-policy input {
  width: 9.75px;
  height: 9.75px;
  border: 0.75px solid #D5D5D6;
  border-radius: 3px;

  @media (min-width: 990px) {
    width: 13px;
    height: 13px;
    border: 1px solid #D5D5D6;
    border-radius: 4px;
  }
}