.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
  height: 77px;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  z-index: 999;

  @media (min-width: 990px) {
    padding: 18px 92px;
  }
}

@media (max-width: 990px) {
  .header {
    height: 49px;
  }
}

@media (max-width: 990px) {
  .header__logo {
    width: 89px;
    height: 21px;
  }
}

.header__menu-item a {
  font-size: 18px;
  text-decoration: none;
  line-height: 19.8px;
  font-weight: 600;
  font-family: 'Source Sans 3', sans-serif;
  color: #7D7D7D;
}

.header__menu-item a:hover {
  color: #5D78FF;
}

.header__nav {
  display: flex;
}

.header__menu {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.header__button {
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 24px;
  width: 149px;
  height: 41px;
}

.header__button-container {
  display: flex;
  gap: 40px;
}

.custom-header-button {
  all: unset;
  cursor: pointer;
  color: #5D78FF;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 41px;
}

.header__button--color {
  padding: 6px 12px;
  width: 149px;
  height: 41px;
}

.burger-menu {
  display: none;
}

@media (max-width: 990px) {
  .burger-menu {
    display: block;
  }

  .header__menu,
  .header__button-container {
    display: none;
  }
}

.header__menu.active {
  display: flex;
  position: relative;
  right: 30%;
  top: 180px;
  flex-direction: column;
  gap: 50px;
}

/*анімація*/

@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.banner__images-container {
  position: relative;
}

.diagram {
  opacity: 0;
  animation: fadeInSlideIn 1s ease-out forwards;
}

.blue-diagram {
  animation-delay: 0.5s;
}

.color-diagram {
  animation-delay: 1s;
}

.green-diagram {
  animation-delay: 1.5s;
}