.popup {
  display: none;
  position: fixed;
  padding: 38px 30px;
  top: 77px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-img {
  display: none;

  @media (min-width: 990px) {
    display: block;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
}

.popup-content {
  position: relative;
  max-width: 300px;
  margin: auto;
  height: 397.5px;
  background-color: #fff;
  padding: 7.5px;
  border-radius: 5.25px;

  @media (min-width: 990px) {
    display: flex;
    padding: 0;
    border-radius: 7px;
    max-width: 800px;
    height: 550px;
  }
}

.popup-content section {
  margin: 10px;

}

.close-button {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  border-radius: 50%;
  background-color: #F3F4F6;
  background-image: url("../img/Vector-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 7.5px;
  cursor: pointer;

  @media (min-width: 990px) {
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

.popup__title {
  font-weight: 400;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 34px;
  line-height: 120%;
  margin: 31.25px 0 18px;
  text-align: center;
  color: #001e41;
}

@media (max-width: 990px) {
  .popup__title {
    font-weight: 400;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #001e41;
    margin-top: 30px;
  }
}

.popup__text {
  font-weight: 400;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #001e41;
}

@media (max-width: 990px) {
  .popup__text {
    font-weight: 400;
    font-size: 12px;
  }
}

.popup__logo {
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 6px;
  align-items: end;
  width: 138px;
  height: 19px;
  color: #BDBDBD;
  font-size: 12px;
  font-weight: 400;
  line-height: 10.55px;
}

@media (max-width: 990px) {
  .popup__logo {
    margin: 0;
    margin-top: 10px;
    font-size: 9px;
    margin-left: 80px;
  }
}

.popup__logo span {
  text-decoration: underline;
}